.new-album-mobile {
    height: 80vh;
    width: 100%;
    text-align: center;
    padding-top: 20%;
    overflow: hidden;
}

.new-album-mobile img {
    width: 80%;
    height: auto;
}

.new-album-mobile h1 {
    font-size: 3.2em;
}

.new-album-mobile h2 {
    font-size: 2em;
}

.new-album {
    display: none;
}

.albums {
    padding: 0 10px;
}

.albums h2 {
    margin-top: 15px;
}

.albums div img {
    width: 48%;
    margin-top: 10px;
}

.albums div img:nth-child(2) {
    float: right;
}

.modal-main {
    overflow-y: scroll;
    height: auto;
}

#custom-album {
    display: block;
    width: 100%;
}

#modal-art {
    width:100%;
    height: auto;
}

.songs-list > div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-transform: capitalize;
    border-bottom: 1px var(--text-dark) solid;
}

.song-info {
    display: flex;
}

.add-to-cart {
    margin-right: 5px;
    background-image: var(--gradient);
    border-radius: 14px;
    border: none;
    padding: 2px 7px;
    color: var(--text-light);
}

@media screen and (min-width: 900px) {
    .new-album-mobile {
        display: none;
    }

    .new-album {
        display: flex;
        max-height: 90vh;
    }

    .new-album img {
        width: 45%;
        height: 45%;
        margin-left: 5%;
    }

    .new-album div {
        padding-left: 3%;
    }

    .new-album h1 {
        font-size: 5em;
        letter-spacing: 10px;
        margin-top: 40%;
    }

    .new-album h2 {
        font-size: 3.5em;
        letter-spacing: 5px;
    }

    #custom-album {
        width: 49%;
        height: 49%;
    }

    .albums {
        margin: 0 5% 25px;
        padding: 0;
        overflow: hidden;
    }

    .albums > div {
        display: flex;
    }

    .albums-list {
        width: 50%;
        padding: 0 15px;
    }

    .albums-list img:hover {
        cursor: pointer;
    }

    #modal .body {
        width: 55%;
        max-width: 600px;
        left: 25%;
        height: auto;
        bottom: unset;
    }

    #modal-art {
        width: 45%;
        height: 45%;
    }

    .modal-main {
        overflow: auto;
        display: flex;
    }

    .songs-list {
        width: 55%;
    }
}
