.container {
    padding: 0 25px;
}

h1 {
    margin-bottom: 10px;
}

#map {
    width: 100%;
    height: 40vh;
}

.tour-dates {
    border: 1px var(--text-dark) solid;
    marg in: 10px 0;
}

.tour-dates header, .tour-dates h2 {
    background-image: var(--gradient);
    color: var(--text-light);
    padding: 5px;
}

.venues > div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px var(--text-dark) solid;
    text-transform: capitalize;
}

.venues > div:last-of-type {
    border-bottom: none;
}

.venues > div > p {
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    line-height: calc(0.8em + 20px);
}

.tour-location p {
    font-size: 0.8em;
}

@media screen and (min-width: 900px) {
    .tours-container {
        display: flex;
        justify-content: space-between;
    }

    #map {
        width: 65%;
        height: 65vh;
    }

    .tour-dates {
        width: 30%;
    }
}
